<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Notes App</title>
    <!-- * It can find the CSS directly as if the CSS file is in the same directory as this file is. Because we are serving static files. We do not need to provide the complete file path(Anything inside the public folder is directly accessible by any route) -->
    <link rel="stylesheet" href="css/style.css" />                      
</head>
<body>
    <h3>Tech Notes</h3>
</body>
</html>